In [1]:
import lasio
las = lasio.read('WLC_PETRO_COMPUTED_INPUT_1.LAS')
df = las.df()

Header section Parameter regexp=~P was not found.

In [2]:
#import required modules and functions from package

import evaluate_reservoir
from visualizations import summary, log_plot

In [3]:
#create an instance of the reservoir

from evaluate_reservoir import FormationEvaluation
reservoir1 = FormationEvaluation(df, 'GR', 'NPHI', 'RHOB', 'RT', 2, 10000, 72)

In [4]:
#fill missing values using mean values of the columns, specify value if mean shouldn't be applied
df1 = reservoir1.fill_missing(use_mean=True)

Time computation is proportional to size of dataset and amount of missing values present

In [4]:
table1 = reservoir1.show_table()
table1.head(100)

                 GR  LITHO  VSH  NET_PAY  PHIDF  PHIE  SW  OIL_SAT
DEPTH
240.1824        NaN      0  NaN        0    NaN   NaN NaN      NaN
240.3348  20.866899      1  0.0        0    NaN   NaN NaN      NaN
240.4872  20.984800      1  0.0        0    NaN   NaN NaN      NaN
240.6396  20.984800      1  0.0        0    NaN   NaN NaN      NaN
240.7920  20.866899      1  0.0        0    NaN   NaN NaN      NaN
...             ...    ...  ...      ...    ...   ...  ..      ...
254.6604  19.216400      1  0.0        0    NaN   NaN NaN      NaN
254.8128  19.334299      1  0.0        0    NaN   NaN NaN      NaN
254.9652  20.513201      1  0.0        0    NaN   NaN NaN      NaN
255.1176  21.809999      1  0.0        0    NaN   NaN NaN      NaN
255.2700  23.932100      1  0.0        0    NaN   NaN NaN      NaN

[100 rows x 8 columns]

In [5]:
summary(table1)

Title: Petrophysical Summary of the Parameters Evaluated

,GR,LITHO,VSH,NET_PAY,PHIDF,PHIE,SW,OIL_SAT
count,9997.000000,9999.000000,9997.000000,9999.000000,2717.000000,2716.0,2717.000000,2717.000000
mean,82.227914,0.356236,4.109587,0.233323,0.441092,0.0,0.162495,0.837505
std,36.974956,0.478910,4.393245,0.422967,0.080894,0.0,0.041624,0.041624
min,10.688800,0.000000,0.000000,0.000000,0.153939,0.0,0.007649,0.470580
25%,56.037899,0.000000,0.162859,0.000000,0.386061,0.0,0.138382,0.825635
50%,81.305603,0.000000,2.437429,0.000000,0.430545,0.0,0.154670,0.845330
75%,118.616699,1.000000,8.202534,0.000000,0.487394,0.0,0.174365,0.861618
max,161.530197,1.000000,18.381460,1.000000,0.743455,0.0,0.529420,0.992351

In [6]:
reservoir1.parameters()

{'Gross rock': 3562,
 'The Net to Gross is:': 0.6549691184727681,
 'Net Pay of reservoir:': 2333,
 'Total Porosity:': 0.4410923398333721,
 'Effective Porosity:': 0.0,
 'Water Saturation:': 0.1624947860041707,
 'Oil Saturation:': 0.8375052139958293}